# Load Libraries

In [ ]:
%pylab inline
import pandas
import seaborn

# Import Data in to python (My user name is Jhon). I have used print command so that i can see how it looks.

In [ ]:
data = pandas.read_csv (r'C:\Users\JHON\Desktop\uber-raw-data-apr14.csv')
print (data)

# Making sure data is same from start till end

In [3]:
data.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [4]:
data.tail()

                 Date/Time      Lat      Lon    Base
564511  4/30/2014 23:22:00  40.7640 -73.9744  B02764
564512  4/30/2014 23:26:00  40.7629 -73.9672  B02764
564513  4/30/2014 23:31:00  40.7443 -73.9889  B02764
564514  4/30/2014 23:32:00  40.6756 -73.9405  B02764
564515  4/30/2014 23:48:00  40.6880 -73.9608  B02764

# Seprating date and time

In [5]:
dt = '4/30/2014 23:48:00'

In [6]:
d, t = dt.split(' ')
print(d)
print(t)

4/30/2014
23:48:00

# Manipulating date and time in various ways

In [7]:
dt=pandas.to_datetime(dt)

In [8]:
dt

Timestamp('2014-04-30 23:48:00')

In [ ]:
dt.weekday()

In [ ]:
dt = pandas.to_datetime(dt)

In [ ]:
dt.weekday_name

In [ ]:
dt.week

In [ ]:
dt.day

In [ ]:
dt.month

# Converting date and add some useful columns

# Changing type of date and time for maps

In [15]:
data['Date/Time'] = data['Date/Time'].map(pandas.to_datetime)

# Checking if it has converted to be used in maps of panda

In [ ]:
data.tail()

In [17]:
def get_dom(dt):
    return dt.day

data['dom'] = data['Date/Time'].map(get_dom)

def get_weekday(dt):
    return dt.hour

data['hour'] = data['Date/Time'].map(get_hour)

data.tail()

NameError: name 'get_hour' is not defined

# Forward Slashes [/] are changes with Hyphens [-]

# Now we will make graphs which are suitable and explains data in meaningful way

In [ ]:
hist[data.dom]